body {
  /* font-family: "Ubuntu", sans-serif; */
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

#title {
  background-color: #ff4c68;
  color: white;
  position: relative;
  z-index: -1;
}

/* Navigation Bar */

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light", sans-serif;
}

.navbar {
  /* padding-bottom: 4.5rem; */
  padding: 0 0 4.5rem 0;
}

.navbar-brand {
  font-size: 1.5rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
}

.container-fluid {
  padding: 3% 15%;
}

h1 {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
  margin: 2rem auto 10% auto;
}

#press {
  background-color: gray;
}

#pricing {
  background-color: aliceblue;
}


/* Title Image */

.title-image {
  transform: rotate(20deg);
  /* left: 30px; */
  /* position: relative; */
  max-width: 80%;
}

/* Features */

#features {
  padding: 7%;
  background-color: white;
  position: relative;
  /* bottom: 150px; */
}

.features-heading {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 2rem;
  font-weight: bolder;
}

.feature-tile {
  line-height: 2;
  text-align: center;
  font-size: 1rem;
  /* margin: 5rem auto; */
}

.feature-icons {
  color: #ff4c68;
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
  margin-bottom: 10px;
}

.feature-icons:hover {
  color: #ef8172;
}

.features-desc {
  color: #8f8f8f;
  max-width: 60%;
  margin: auto;
}

/* Testinomials */

#testimonials {
  padding: 7%;
  background-color: #ff4c68;
  text-align: center;
  color: #fff;
}

.testimonial-text {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 3vw;
  /* width: 60%; */
  margin: 0 auto 2rem auto;
}

.testimonial-image {
  width: 100px;
  border-radius: 100%;
}

#press {
  background-color: #ff4c68;
  /* padding-bottom: 3%; */
  text-align: center;
}

.press-logos {
  width: 15%;
  margin: 20px 20px 20px 50px;
}

.carousel slide {
  padding: 7% 15%;
}

#cta{
  text-align: center;
  background-color: #ff4c68;
  font-family: "Ubuntu", sans-serif;
  padding: 5%;
}

.cta-desc{
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 2rem;
  color: white;
}

#footer{
  text-align: center;
  color: grey;
  background-color: white;
  padding: 2%;
  font-weight: 500;
}

@media (max-width: 990px) {
  #title {
    position: static;
    text-align: center;
    margin: auto;
  }

  .title-image {
    transform: rotate(0);
  }

  h1 {
    font-size: 2rem;
    text-align: center;
  }

  #features {
    position: static;
    bottom: 0;
  }
}
